body {
    background-color: #ffd49d;
}

#container {
    width: 480px;
    height: 480px;
    overflow: hidden;
    float: left;
    display: grid;
    margin-left: 30%;
    grid-template-columns: repeat(16, 1fr); /*manipular com o DOM*/
    grid-template-rows: repeat(16, 1fr); /*manipular com o DOM*/
    position: relative;
    border: 20px solid rgb(247, 4, 24);
    background-color: white;
}

/*manipular com o DOM

1. Criar variavel para manipular o DOM no etchascript.js:
    let newGrid = "repeat(" + tiles + ", 1fr)"

container.style.gridTemplateColumns = newGrid;
container.style.gridTemplateRows = newGrid;

*/

.grid-item {
    border: 1px solid black;
    width: auto;
    padding: 2%;
}

#butt {
    float: left;
}

#leftwrap {
    width: 50%;
    display: inline-block;
    margin-left: 30%;
    }

#leftwrap button {
    width: 100px;
    }


#pickwrap div, p{
    display: inline-block;
    font-family: sans-serif;
}

.selecolor {
    margin: 2px;
}

.cor, .eraser img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
}

.cor:hover, .choosepick:hover, .randommode:hover, .eraser img:hover {
    border: 1px solid black;
    opacity: 0.8;
}

.choosepick {
    width: 30px;
    height: 30px;
    border: 0.5px dotted black;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

.randommode {
    width: 30px;
    height: 30px;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}