#container {
    padding: 5px;
    width: 580px;
    height: 580px;
    overflow: hidden;
    margin-left: 30%;
    display: grid;
    grid-template-columns: repeat(16, 1fr); /*manipular com o DOM*/
    grid-template-rows: repeat(16, 1fr); /*manipular com o DOM*/
}

/*manipular com o DOM

1. Criar variavel para manipular o DOM no etchascript.js:
    let newGrid = "repeat(" + tiles + ", 1fr)"

container.style.gridTemplateColumns = newGrid;
container.style.gridTemplateRows = newGrid;

*/

.grid-item {
    border: 1px solid black;
    width: auto;
    padding: 2%;
}

#butt, button {
    width: 150px;
    }

#leftwrap {
    float: left;
}

#pickwrap div{
    display: inline-block;
}

.cor{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.choosepick {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 18px;
}

.randommode {
    width: 30px;
    height: 30px;
    border: 1px double rgb(133, 12, 133);
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 18px;
}